/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/* Asterisk wildcard selector to override default styles added to the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: white;
    font-family: 'Sriracha', static;
}

/* Header */
header {
    background-color: gray;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

.logo {
    font-family: 'Sriracha', static;
    color: white;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: gray;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

/*Nav toogle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    color: white;
}

/* Image section */
.hero {
    text-align: center;
    padding: 30px;
    padding-top: 100px;
    
}

.hero img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 60%;
}

.downlaod {
    text-align: left;
    margin-left: 1rem;
}

.contact {
    text-align: right;
    margin-right: 1rem;
}

/* About section */
#skills {
    padding: 30px;
    background-color: #3a3a3a;
    margin: 50px;
}

#my-skills {
    text-align: left;
    margin-bottom: 10px;
}

/*Wrapper flex layout */
.hbar {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: left;
}

/* Individual bars */
#HTML {
    width: 90%;
    background: red;
}

#CSS {
    width: 90%;
    background: blue;
}

#JavaScript {
    width: 10%;
    background: yellow;
}

#Github {
    width: 70%;
    background: green;
}

/* Bar spacing */
.hbar div {
    color: gray;
    margin: 5px 0;
    padding: 10px
}


/*Portfolio styles */
#photos img {
    width: 100%;
    height: auto;
}

#photos {
    line-height: 0;
}

/* Contact form */
#contact-form {
    color: #ffffff;
    background-color: #3a3a3a;
    padding: 30px;
}

#contact-form>h2 {
    margin-bottom: 20px;
}

.text-input {
    background: #3a3a3a;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.send-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: gray;
    color: #ffffff;
}

/* Footer */
#social-networks {
    background-color: gray;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none; 
}

#social-networks i {
    font-size: 160%; 
    padding: 5%;
    color: white;
 }

 /* Media query: large or landscape phones (576px and up) */
 @media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0.05rem;
    }

    /* Main Content */
    main {
        /* Push main content down to accomodate larger header */
        margin-top: 79px;
    }
    
 }

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }
    
    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0.05rem;
    }

    #contact {
        background-position: center;
        position: relative;
    }

    #contact-form {
        max-width: 400px;
        position: absolute;
        top: 40px;
        left: 40%;
    }

    .text-input:hover {
        border-color: #ffffff;
    }

    .send-button:hover {
        background-color: #3a3a3a;
        color: #ffffff;
    }

    /* Main Content */
     main {
        /* Push main content down to accomodate larger header */
        margin-top: 79px;

    /* Portfolio styles */
    #photos {
        column-count: 3;
        column-gap: 0;
    }
}

    /* Larger devices (laptops and desktop, 992px and up) */
    @media screen and (min-width: 992px) {
        #menu a:hover {
            border-bottom: 1px solid #3a3a3a;
        }

        /*Portfolio styles */
        #photos {
            column-count: 4;
            column-gap: 0;
        }
    }
}